# vim: ft=python

lnd = landscape(seed=0, k=1, dims=(2, 5))
p = parameters(seed=1, landscape=lnd, max_steps=100)

p.set_agents(kind=Maverick, number=25)
p.set_agents(kind=Follower, number=25)
p.set_agents(kind=Drunk, number=25)

add_treatment('control', p, replicates=2)



